---
import NavBar from '../components/NavBar';
import Footer from '../components/Footer';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Personal website of Sebastian Sepulveda" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      @font-face {
        font-family: 'brockmann-regular, sans-serif';
        src: url('/fonts/brockmann-regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </head>
  <body class="bg-dark-bg text-dark-accent min-h-screen">
    <NavBar client:load />
    <main class="pt-24">
      <slot />
    </main>
    <Footer client:load />
  </body>
</html>